.profile{
    flex:0  auto;
    text-align: right;
    width:auto;
}

table{
    width: 420px;
}
.granted-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}