<!-- <mat-toolbar color="primary">
    <div>
            <button fxHide.gt-xs mat-icon-button  (click)="onToggleSidenav()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items" fxHide.lt-sm>
                <li><a routerLink='/account'>Account</a></li>
                <li><a routerLink='/requester/search'>Search</a></li>
                <li><a routerLink='/requester/requests'>Requests</a></li>
                <li><a routerLink='/requester/reqpermission'>Certificates</a></li>
                <li><a routerLink='/requester/profile'>Profile</a></li>
                <li><a routerLink='/login' (click)="service.logoutUser()">Logout</a></li>
                <li> <mat-icon>account_circle</mat-icon>{{username}}</li>
        </ul>
    </div>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <div class="mob-container" fxShow.lt-md="true" fxShow.gt-sm="false">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <button class="back-btn" mat-raised-button [routerLink]="['/requester']">
            Back
        </button>

    </div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items" fxHide.lt-sm> -->

    <div class="outer-container">
        <div class="header">
            <ul fxShow.lt-md="false" fxShow.gt-sm="true">
                <!-- <li><a routerLink='/requester/account'>Account</a></li> -->
                <li><a routerLink='/requester/search'>Search</a></li>
                <!-- <li><a routerLink='/requester/requests'>Requests</a></li> -->
                <li><a routerLink='/requester/reqpermission'>Certificates</a></li>
                <!-- <li><a routerLink='/requester/profile'>Profile</a></li> -->
                <!-- <li style="float:right"><a routerLink='/login' (click)="service.logoutUser()">Logout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>account_circle</mat-icon>{{username}}</a></li> -->
                <!-- </ul> -->
            </ul>
        </div>

        <div class="dropdown" fxShow.lt-md="false" fxShow.gt-sm="true">
            <button class="dropbtn"><i class="fa fa-user-circle" style="font-size: 30px;padding-right:5px;" aria-hidden="true"> </i>
                {{username}}</button>
            <div class="dropdown-content">
                <a routerLink='/requester/profile'>Profile</a>
                <a routerLink='/requester/account'>Account</a>
                <a routerLink='/login' (click)="service.logoutUser()">Logout</a>
            </div>
        </div>
    </div>
   
    
</mat-toolbar>