<mat-toolbar color="primary">
    <div class="mob-container" fxShow.lt-md="true" fxShow.gt-sm="false">
        <button  mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <button class="back-btn" mat-raised-button [routerLink]="['/requester']">
            Back
        </button>

    </div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items" fxHide.lt-sm> -->
                <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end"> -->
    <ul fxShow.lt-md="false" fxShow.gt-sm="true">
        <!-- <li><a routerLink='/student/account'>Account</a></li> -->
        <li><a routerLink='/student/education'>Education</a></li>
        <li><a routerLink='/student/requests'>Requests</a></li>
        <li><a routerLink='/student/certificates'>Certificates</a></li>
        <!-- <li><a routerLink='/student/profile'>Profile</a></li> -->
        
        <!-- <li style="float:right"><a routerLink='/login' (click)="service.logoutUser()">Logout &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>account_circle</mat-icon>{{username}}</a> 
            </li> -->
       </ul>

       <div class="dropdown" fxShow.lt-md="false" fxShow.gt-sm="true">
            <button class="dropbtn"><i class="fa fa-user-circle" style="font-size: 30px;padding-right:5px;" aria-hidden="true"> </i>{{username}}</button>
            <div class="dropdown-content">
                    <a routerLink='/student/profile'>Profile</a>
                    <a routerLink='/student/account'>Account</a>
                    <a routerLink='/login' (click)="service.logoutUser()">Logout</a>
            </div>
          </div>

       <!-- </div> -->
        <!-- </ul> -->
</mat-toolbar>
<br/>