<!-- <mat-toolbar color="primary">
    <button mat-button color="warn" [routerLink]="['/account']">Account</button>
    <button mat-button class="profile" [routerLink]="['/requester/search']">Search</button>
    <button mat-button class="profile" [routerLink]="['/requester/requests']">Requests</button>
    <button mat-button class="profile" [routerLink]="['/requester/profile']">Profile</button>
    <button mat-button class="profile" [routerLink]="['/requester/dashboard']">Dashboard</button>
    <button class="logout" mat-button [routerLink]="['/login']" (click)="service.logoutUser()">Logout</button>
    <mat-icon>person</mat-icon>
    <p><strong>{{username}}</strong></p>
</mat-toolbar> -->
<br/>
<div class="granted-list">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element">
              {{element.studentName}}
          </td>
      </ng-container>

      <ng-container class="status" matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
              <!-- <button *ngIf="element.status == 'granted'" (click) = "sendData(element.name)" mat-button matTooltip="click" aria-label="Button that displays a tooltip when focused or hovered over" #name>view</button> -->
              {{element.Status}}
          </td>
      </ng-container>

      <ng-container class="view" matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
              <button (click)="sendData(element.name)" mat-button matTooltip="click">view</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>