<mat-toolbar color="primary">
  Login Page
</mat-toolbar>
<div class="login">
  <div><br/>
  <mat-card class="card">
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
    </mat-card-header> -->
    <mat-card-content>
      <form [formGroup]="proliform" (submit)="onSubmit()"><br />
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>enter valid email</mat-error>
        </mat-form-field><br/><br />
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password" [type]="hide ? 'text':'password'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>enter valid password</mat-error>
        </mat-form-field><br /><br /><br />
        <button id="sign" mat-raised-button type="submit" color="primary" [disabled]="proliform.invalid">Sign in</button>
        <strong id="notreg">If not registered <span id="red">*</span></strong>
        <button id="register" [routerLink]="['/register']" mat-raised-button type="button" color="primary"><strong>Register</strong></button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>