<h2>Search</h2>
<div class="search-bar">
  <form class="Profile-form" [formGroup]='searchForm' (submit)="search()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error>Enter valid name</mat-error>
    </mat-form-field>
    <mat-form-field class="email-input">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error>Enter valid email</mat-error>
    </mat-form-field>

    <span class="search-button">
      <button mat-raised-button type="submit" [disabled]="searchForm.invalid" color="primary">Search</button>
    </span>
  </form>
</div>


<div class="search-results" *ngIf="searchDataSourceValue">
  <p style="padding-right: 20px">{{searchDataSourceName}}</p>
  <p style="padding-right: 20px">{{searchDataSourceEmail}}</p>
  <button style="padding-left: 20px" *ngIf="searchDataSourceStatus == 'request'" class="request-btn" (click)="sendData(searchDataSourceName)"
    mat-raised-button matTooltip="request">{{searchDataSourceStatus}}</button>
  <p *ngIf="searchDataSourceStatus != 'request'">{{searchDataSourceStatus}}</p>

</div>
<br />
<br />

<div *ngIf="dataSourceDataLength" class="granted-list">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.studentName}}
      </td>
    </ng-container>

    <ng-container class="status" matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        {{element.Status}}
      </td>
    </ng-container>
    <ng-container class="status" matColumnDef="checkstatus">
      <th mat-header-cell *matHeaderCellDef> checkstatus </th>
      <td mat-cell *matCellDef="let element; let i = index;">
          <button color="warn" *ngIf=disable[i] (click) = "Checkstatus(element.requesterID,element.studentID)" mat-raised-button>checkstatus</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <div *ngIf="dataSource.data.length == 0" class="granted-list">
  No Requests made yet!!!!
</div> -->
